<!doctype html>
<title>Universal Connection</title>

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
    rel="stylesheet">
<link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>



<div>
    <!-- PC用画面 -->
    <div class="d-none d-md-block">
        <!-- ナビゲーションバー -->
        <nav class="navbar navbar-expand navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('show_home') }}">UC</a>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <div>
                <ul class="nav navbar-nav">
                    <!-- 未ログインの場合のみ表示 -->
                    {% if not session.logged_in %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('signup') }}"><i class="fa fa-user-plus" aria-hidden="true"></i> ユーザ登録</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i> ログイン</a>
                    </li>
    
                    <!-- ログインの場合のみ表示 -->
                    {% else %}
                    <!-- 企業でない場合(学生・教員)の表示 -->
                    {% if not session.company %}
                    <li class="nav-item"><a href="{{ url_for('show_home')}}" class="nav-link"><i class="fa fa-home" aria-hidden="true"></i> ホーム
                        </a></li>
                    <li class="nav-item"><a href="{{ url_for('create_group')}}" class="nav-link"><i class="fa fa-plus" aria-hidden="true"></i> 新規グループ
                        </a></li>
                    <li class="nav-item"><a href="{{ url_for('show_groups')}}" class="nav-link"><i class="fa fa-commenting-o" aria-hidden="true"></i> チャット
                        </a></li>
                    <li class="nav-item"><a href="{{ url_for('show_scouted', user_id = session.user['id'])}}"
                            class="nav-link"><i class="fa fa-check-square-o" aria-hidden="true"></i> スカウト
                        </a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('search') }}"><i class="fa fa-search" aria-hidden="true"></i> 検索</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('show_profile',user_id=session['user']['id']) }}"><i class="fa fa-user" aria-hidden="true"></i> プロフィール</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> ログアウト</a>
                    </li>
    
                    <!-- 企業の場合の表示 -->
                    {% else %}
                    <li class="nav-item"><a href="{{ url_for('show_scout', user_id = session.user['id'])}}"
                            class="nav-link"><i class="fa fa-check-square-o" aria-hidden="true"></i> スカウト確認
                        </a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('search_students') }}"><i class="fa fa-search" aria-hidden="true"></i> スカウト検索</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('show_profile',user_id=session['user']['id']) }}"><i class="fa fa-user" aria-hidden="true"></i> プロフィール</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> ログアウト</a>
                    </li>
                    {% endif %}
    
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <!-- サーバから渡されたflashメッセージを表示 -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info" role="" alert>
        {{ message }}
    </div>
    {% endfor %}
    <div class="blog-body m-3">
        {% block body %}{% endblock %}
    </div>
    <!-- スマホ画面 -->
    <div class="d-md-none fixed-bottom mb-1 mt-1">
                <ul class="nav nav-tabs nav-fill">
                    <!-- 未ログインの場合のみ表示 -->
                    {% if not session.logged_in %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('signup') }}"><i class="fa fa-user-plus" aria-hidden="true"></i> ユーザ登録</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i> ログイン</a>
                    </li>
    
                    <!-- ログインの場合のみ表示 -->
                    {% else %}
                    <!-- 企業でない場合(学生・教員)の表示 -->
                    {% if not session.company %}
                    <li class="nav-item"><a href="{{ url_for('show_home')}}" class="nav-link"><i class="fa fa-home" aria-hidden="true"></i>
                        </a></li>
                    <li class="nav-item"><a href="{{ url_for('create_group')}}" class="nav-link"><i class="fa fa-plus" aria-hidden="true"></i>
                        </a></li>
                    <li class="nav-item"><a href="{{ url_for('show_groups')}}" class="nav-link"><i class="fa fa-commenting-o" aria-hidden="true"></i>
                        </a></li>
                    <li class="nav-item"><a href="{{ url_for('show_scouted', user_id = session.user['id'])}}"
                            class="nav-link"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('search') }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('show_profile',user_id=session['user']['id']) }}"><i class="fa fa-user" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </li>
    
                    <!-- 企業の場合の表示 -->
                    {% else %}
                    <li class="nav-item"><a href="{{ url_for('show_scout', user_id = session.user['id'])}}"
                            class="nav-link"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('search_students') }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('show_profile',user_id=session['user']['id']) }}"><i class="fa fa-user" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </li>
                    {% endif %}
    
                    {% endif %}
                </ul>
    </div>
</div>